$clrGrey100: #212529;
$clrGrey200: #4d5154; //rgba($clrGrey100, .8) over pure white
$clrGrey300: #7a7c7f; //rgba($clrGrey100, .6) over pure white
$clrGrey400: #a6a8a9; //rgba($clrGrey100, .4) over pure white
$clrGrey500: #d3d3d4; //rgba($clrGrey100, .2) over pure white
$clrGrey600: #e8e9e9; //rgba($clrGrey100, .1) over pure white
$clrGrey700: #f4f4f4; //rgba($clrGrey100, .05) over pure white

$clrGray100: #282829;
$clrGray200: #3b3c3d;
$clrGray300: #525354;
$clrGray400: #656769;
$clrGray500: #7c7e80;
$clrGray600: #8f9294;
$clrGray700: #a3a6a8;
$clrGray800: #babdbf;
$clrGray900: #cdd1d4;
$clrGray1000: #e1e5e8;
$clrGray1100: #edf2f5;
$clrGray1200: #f2f5f7;
$clrGray1300: #f7fafc;

$clrBrandRed: #b72025;
$clrRed100: #8e0b0e; //b72025
$clrRed200: #b80f12;
$clrRed290: #d52327;
$clrRed300: #ec1317;
$clrRed400: #f5898b;
$clrRed500: #f26d5b;
$clrRed600: #ffcacb;
$clrdarkRubyRed: #900048;

$clrGreen100: #015d09;
$clrGreen200: #02b110;
$clrGreen300: #b3feba;
$clrGreen400: #42b883;
$clrdarkTurquoise: #2c5d63;
$clrforestGreen: #2eb872;
$clrdarkGreen: #004a2f;

$clrBlue100: #99d2ff;
$clrBlue200: #f3fdfe;
$clrBlue: #2196f3;
$clrAqua: #26c6db;
$clrdarkBlue: #113f67;
$clrPurple: #9c27b0;
$clrdarkPurple: #240747;
$clrNavy: #181c32;
$clrOrange: #fd9843;
$clrdarkOrange: #f96d00;
$clrYellow: #fbc02d;
$clrWhite: #ffff;
$clrBlack: #000;
